aiohttp==3.6.3
async-timeout==3.0.1
asyncio==3.4.3
py-cord
pytz==2021.1
dateparser==1.0.0
arrow==1.1.1
roblox==2.0.0
requests==2.26.0
mysql-connector-python==8.0.27
humanfriendly==10.0
pyotp==2.6.0
bs4==0.0.1
grapheme==0.6.0
emoji==1.6.3
Pillow==9.2.0
aioconsole==0.5.1
bit==0.8.0
chat-exporter==2.2.1